Source: dxforge
Maintainer: Rafael Zimmer <rzimmerdev@gmail.com>
Build-Depends: debhelper (>= 11), dh-python, python3-all, python3-setuptools
Section: python
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.10

Package: dxforge
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: API-based suite for orchestrating quantitative analysis systems.